# Root .env.example
# Each service will have its own .env based on these templates

# SHARED
INTERNAL_SECRET=your_internal_secret_key_here
JWT_SECRET=your_super_secret_jwt_key_here

# DATABASE (Shared instance, different DB names)
DATABASE_URL_USER=postgresql://postgres:postgres@localhost:5432/db_user?schema=public
DATABASE_URL_PRODUCT=postgresql://postgres:postgres@localhost:5432/db_product?schema=public
DATABASE_URL_ORDER=postgresql://postgres:postgres@localhost:5432/db_order?schema=public
DATABASE_URL_PAYMENT=postgresql://postgres:postgres@localhost:5432/db_payment?schema=public
